#identité{
  background-color: rgb(37, 116, 169);
}
#identité legend{
  background-color: rgb(37, 116, 169);
}
#adresse{
  background-color: rgb(154, 18, 179)
}
#adresse legend{
  background-color: rgb(154, 18, 179)
}
#informations{
  background-color: rgb(219, 10, 91)
}
#informations legend{
  background-color: rgb(219, 10, 91)
}
